* {
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5f5f5f;
}

#container {
  background-color: #95bdbb;
  font-size: 1.1rem;
  width: 50vw;
  height: 75vh;
  position: absolute;
  left: 25vw;
  top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0rem;
  padding: 0rem;
}

#header {
  background-color: #ff7791;
  align-self: baseline;
  text-align: center;
  position: relative;
  width: 100vw;
}
#nav {
  background-color: #45dfa6;
  align-self: baseline;
  text-align: center;
  position: relative;
  top: 2.25vh;
  margin: 0rem;
  padding: 0rem;
}

#main {
  background-color: #c9ecff;
  align-self: center;
  justify-content: flex-end;
  text-align: center;
  width: 43vw;
  height: 42vh;
  position: relative;
  margin: 0rem;
  padding: 0rem;
}

#article {
  background-color: #6edbfc;
  align-self: flex-end;
  text-align: center;
  height: 25vh;
}

#figure {
  background-color: #fef4b6;
  align-self: flex-end;
  text-align: center;
  height: 15vh;
}

#section {
  background-color: #00a7ff;
  text-align: center;
  align-self: flex-end;
  height: 5vh;
  position: relative;
}

#aside {
  background-color: #f9d0d6;
  align-self: center;
  text-align: center;
  height: 42vh;
  position: relative;
}

#footer {
  background-color: #b981ff;
  align-self: flex-end;
  text-align: center;
  position: relative;
  width: 100vw;
}
